<div class="well">
  <p><strong>Name</strong> - Your display name. Must be 2 to 16 characters long. May contain letters, numbers and spaces.</p>
  <p><strong>Email</strong> - This is your login. Must be a valid email to confirm account.</p>
  <p><strong>Password</strong> - Must be between 8 and 128 characters.</p>
</div>
