<% provide(:title, "Calendar") %>

<div id="calendar">
  <div class="post">
    <h2 class="clearfix title">Calendar</h2>
    <p class="clearfix meta"></p>
    <div class="entry">
      <%= raw(event_calendar) %>
    </div>
  </div>
</div>
