<li>
  <span class="articles-index-title"><%= link_to article.title, article %><%= "&nbsp;<span class=\"label\">Event</span>".html_safe if article.event %></span>
  <br />
  <span class="articles-index-user">posted by <%= link_to article.user.name, article.user %></span>
  <span class="articles-index-date"><%= article.created_at.strftime("%B %d, %Y") %></span>
</li>
