<div class="well">
  <p>Input article content as HTML only. All other fields are plaintext. Check the event box if you wish for this article to show up on the event calendar. Event end time can be blank for single day events.</p>
  <p>To display only a summary of the article on the main page, wrap content in the following comment tags:</p>
  <p><strong>&lt;!-- summary --&gt;</strong> ... <strong>&lt;!-- summary_end --&gt;</strong></p>
  <p>Any remaining content outside of these tags will only be displayed when viewing the full article. If no summary section is included, all content will be displayed on both the main page and the full article details.</p>
</div>