<div class="well">
  <p>Article should be in HTML. At minimum, you should wrap all paragraphs in 'p' tags (e.g. <strong>&lt;p&gt;</strong>Hi there!<strong>&lt;/p&gt;</strong>). Please remember to close your tags (note the '/' in the second tag).</p>
  <p>To display only a summary of the article on the front page, wrap content in the following comment tags:</p>
  <p><strong>&lt;!-- summary --&gt;</strong> ... <strong>&lt;!-- summary_end --&gt;</strong></p>
  <p>Any remaining content outside of these tags will only be displayed when viewing the full article. If no summary section is included, all content will be displayed on both the main page and the full article details.</p>
</div>