<% provide(:title, "Users") %>

<div class="post">
  <h2 class="clearfix title">Users</h2>
  <p class="clearfix meta"></p>
  <div class="entry">
    <table class="table table-condensed">
      <thead>
        <tr>
          <th>Username</th>
          <th>Email</th>
          <th>Registered</th>
          <th>Paid Until</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
      <% @users.each do |user| %>
        <tr>
          <%= render user %>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
