<% provide(:title, "About Us") %>

<div id="about-us" class="post">
  <h2 class="clearfix title">Welcome to Southern HopHeads</h2>
  <p class="clearfix meta"></p>
  <div class="entry">
    <%= image_tag('fresh_hops_pint_glass_200x200.png') %>
    <p>You’ve reached the homepage for the Southern HopHeads! We're a new homebrew club based in Southern Pines, North Carolina.</p>
    <p>Over the past several years, we have watched the craft beer market and the interest in homebrewing explode in this area. Being as the nearest club is in the Fayetteville area, we decided to start our own. Our goal is to create a community for other homebrewers to get together, share ideas, advice and, of course, great beer.</p>
    <p>Currently we are in the early stages of forming and are looking to find others who share our passion for beer. If this sounds like you, please have a look through the site and feel free to sign up to receive announcements of events and beer related happenings. The club will also begin to meet occasionally to taste beer and talk brewing.</p>
    <p>And remember… Don’t worry, relax, have a homebrew!</p>
  </div>
</div>
