/* about */

#about-page em {
  font-style: normal;
  text-decoration: underline;
}

#about-us img {
  display: block;
  padding: 20px 0px 20px 0px;
  margin-left: auto;
  margin-right: auto;
}

#about-us span.caption {
  display: block;
  font-style: italic;
  text-decoration: none;
  text-align: center;
  padding-bottom: 20px;
}

#about-officers img {
  float: left;
  padding-right: 10px;
}

#about-officers table {
  width: 100%;
  font-weight: bold;
}

#about-officers td.spaceUnder {
  padding-bottom: 30px;
}
