/* about */

#about-page em {
  font-style: normal;
  text-decoration: underline;
}

#about-us img {
  padding: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#about-officers img {
  float: left;
  padding-right: 10px;
}

#about-officers table {
  width: 100%;
  font-weight: bold;
}

#about-officers td.spaceUnder {
  padding-bottom: 30px;
}

/* brewinfo */

.brewinfo .span6 {
  padding: 10px;
}

.brewinfo .category {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-color: rgb(202, 202, 202);
  border: 1px solid black;
  min-height: 170px;
}

.brewinfo .category-img {
  display: block;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  height: 100px;
  min-width: 70px;
  max-width: 100px;
  border: 1px solid black;
}

.brewinfo .category-img-equipment {
  background-image: url("category-img-equipment.jpg");
}

.brewinfo .category-img-ingredients {
  background-image: url("category-img-ingredients.jpg");
}

.brewinfo .category-img-diy {
  background-image: url("category-img-diy.jpg");
}

.brewinfo .category-img-general {
  background-image: url("category-img-general.jpg");
}

.brewinfo .span6 a {
  padding-top: 10px;
  color: black;
  font-weight: bold;
}

.brewinfo a:hover {
  background-color: #72A24E;
  color: #F6B300;
}

.brewinfo-category-index h3 {
  color: black;
}

.brewinfo-category-index ul {
  list-style-type: none;
  padding: 0;
  margin: 30px 0;
  border-bottom: 1px solid gray;
}

.brewinfo-category-index li {
  border-top: 1px solid gray;
  padding: 10px 0;
  font-weight: bold;
  font-size: 1.2em;
}

.brewinfo-category-index a:hover {
  color: black;
  background-color: white;
}

.brewinfo-article h4 {
  font-size: 1.3em;
  color: black;
}

.brewinfo-article h5 {
  font-size: 1.2em;
  color: black;
}

.brewinfo-article ul {
  list-style-type: none;
}

.brewinfo-article p {
  padding: 10px 0;
}

.brewinfo-article a:hover {
  color: black;
  background-color: white;
}

/* terms */

.terms dt {
  padding-bottom: 2px;
}

.terms dd {
  padding-bottom: 16px;
}
